<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deep Tech Warrior</title>
  <link rel="stylesheet" href="../static/Smartinspection/css/style.css">
</head>




  <body>

    <script type="text/javascript"
    src="http://maps.google.com/maps/api/js?key=AIzaSyCF3YibPi4YDjtrDbh265I60_uYxevDNRk&libraries=geometry">
    </script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
    <script src="../static/Smartinspection/js/index.js"></script>
    <script src="../static/Smartinspection/js/storeData.js"></script>

    <p id="test" hidden></p>
    <div id="map-canvas"/>
  </body>
</html>
